{% extends 'base.html' %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="bg-blue-100 min-w-[52rem] mx-auto w-fit flex flex-1 flex-col px-24 xl:pt-12 2xl:pt-20 pb-20">
        <h2 class="font-semibold text-xl mb-4 pb-2 border-b-2 border-gray-400">Notifications</h2>
        {% if results %}
            {% for result in results %}
                <div class="flex mb-2 border-b pb-4 border-gray-300 justify-between">
                    <div class="flex">
                        <a href="/book/{{ result.book_id }}"><img src={{ result.book_cover }} alt="book cover" width="50" height="75"></a>
                        <div class="flex flex-col ml-4">
                            <a href="/book/{{ result.book_id }}">
                                <h3 class="font-bold text-md hover:underline">{{ result.title | slice:":50" }}</h3>
                            </a>
                            <p>by {{ result.contributors }}</p>
                        </div>
                    </div>
                    <form action="" method="post" class="me-4">
                        {% csrf_token %}
                        <input type="hidden" name="book_id_to_remove" value={{ result.book_id }}>
                        <button type="submit"
                                class="bg-white text-red-500 hover:border-2 hover:border-red-300  p-2 rounded-lg">
                            <svg class="h-8 w-8 text-red-500 "
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                            </svg>
                        </button>
                    </form>
                </div>
            {% endfor %}
        {% else %}
            <h2 class="font-semibold text-xl mb-4 pb-2">No '{{ list_name }}' books yet.</h2>
        {% endif %}
    </div>
{% endblock content %}
