{% extends 'base.html' %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="bg-blue-100 h-full mx-auto w-fit flex px-24 pt-24">
        <!-- Side bar -->
        <div class="flex flex-col w-60 content-center text-center">
            <h2 class="text-xl font-semibold mx-auto mb-4">Currently Reading</h2>
            {% if bookclub.book_id is not None %}
                <a href="/book/{{ bookclub.book_id.book_id }}">
                    <img src="{{ bookclub.book_id.book_cover }}"
                         alt="book cover"
                         class="w-48 rounded-lg mx-auto mb-4 hover:opacity-80">
                </a>
            {% else %}
                <a href="/search"
                   class="relative block w-48 rounded-lg mx-auto mb-4 group">
                    <img src="https://cdn-icons-png.freepik.com/512/7953/7953904.png"
                         alt="book cover"
                         class="w-full rounded-lg transition-opacity duration-300 group-hover:opacity-50">
                    {% if user.profile.bookclub_admin %}
                        <p class="absolute inset-0 flex justify-center items-center font-semibold opacity-0 group-hover:opacity-100 pointer-events-none">
                            Select a book
                        </p>
                    {% else %}
                        <p class="absolute inset-0 flex justify-center items-center font-semibold opacity-0 group-hover:opacity-100 pointer-events-none">
                            Suggest a book
                        </p>
                    {% endif %}
                </a>
            {% endif %}
            <p class="font-semibold">Next Scheduled Discussion</p>
            {% if bookclub.next_meeting_date %}
                <p>{{ bookclub.next_meeting_date }}</p>
                <button data-modal-target="default-modal"
                        data-modal-toggle="default-modal"
                        class=" text-white bg-blue-500 hover:bg-blue-800 rounded-lg text-md w-3/4 px-5 py-2.5 mx-auto mt-4 text-center inline-flex justify-center items-center"
                        type="menu">
                    Change date
                    <svg class="h-5 w-5 text-white ml-2"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         stroke-width="2"
                         stroke="currentColor"
                         fill="none"
                         stroke-linecap="round"
                         stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" />
                        <rect x="4" y="5" width="16" height="16" rx="2" />  <line x1="16" y1="3" x2="16" y2="7" />  <line x1="8" y1="3" x2="8" y2="7" />  <line x1="4" y1="11" x2="20" y2="11" />  <rect x="8" y="15" width="2" height="2" />
                    </svg>
                </button>
            {% else %}
                {% if user.profile.bookclub_admin %}
                    <!-- Button to trigger modal -->
                    <!-- Modal toggle -->
                    <button data-modal-target="default-modal"
                            data-modal-toggle="default-modal"
                            class=" text-white bg-blue-500 hover:bg-blue-800 rounded-lg text-md w-3/4 px-5 py-2.5 mx-auto mt-4 text-center inline-flex justify-center items-center"
                            type="menu">
                        Choose date
                        <svg class="h-5 w-5 text-white ml-2"
                             width="24"
                             height="24"
                             viewBox="0 0 24 24"
                             stroke-width="2"
                             stroke="currentColor"
                             fill="none"
                             stroke-linecap="round"
                             stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" />
                            <rect x="4" y="5" width="16" height="16" rx="2" />  <line x1="16" y1="3" x2="16" y2="7" />  <line x1="8" y1="3" x2="8" y2="7" />  <line x1="4" y1="11" x2="20" y2="11" />  <rect x="8" y="15" width="2" height="2" />
                        </svg>
                    </button>
                    <!-- Datepicker modal -->
                {% else %}
                    <em>TBD</em>
                {% endif %}
            {% endif %}
            <form method="post"
                  id="default-modal"
                  tabindex="-1"
                  aria-hidden="true"
                  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                {% csrf_token %}
                <div class="relative p-4 w-full max-w-2xl max-h-full">
                    <!-- Modal content -->
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                        <!-- Modal header -->
                        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                            <h3 class="text-xl font-semibold text-gray-900 ">Select a date in the future</h3>
                            <button type="button"
                                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                    data-modal-hide="default-modal">
                                <svg class="w-3 h-3"
                                     aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <div class="p-4 md:p-5 space-y-4">
                            <div class="relative max-w-sm">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400"
                                         aria-hidden="true"
                                         xmlns="http://www.w3.org/2000/svg"
                                         fill="currentColor"
                                         viewBox="0 0 20 20">
                                        <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                                    </svg>
                                </div>
                                <input datepicker
                                       datepicker-buttons
                                       datepicker-autoselect-today
                                       type="text"
                                       name="datepicker"
                                       id="datepicker"
                                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                                       placeholder="Select date">
                            </div>
                        </div>
                        <!-- Modal footer -->
                        <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                            <button data-modal-hide="default-modal"
                                    type="submit"
                                    name="save_next_meeting_date"
                                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Confirm
                            </button>
                            <button data-modal-hide="default-modal"
                                    type="button"
                                    class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- Bookclub Discussions -->
        <div class="w-[36rem] ml-20 mr-12">
            <div class="flex justify-between w-full border-b border-gray-500 pb-1 mb-2 items-end">
                <h3 class="text-lg">All Discussions</h3>
                <a href="/discussion/new?type=bookclub&object_id=2"
                   class="bg-cyan-300 hover:bg-cyan-500 cursor-pointer font-semibold text-white py-1 px-2 rounded-lg">New Discussion</a>
            </div>
            <div class="mt-4">
                <table class="w-full border border-collapse">
                    <thead>
                        <tr class="bg-slate-100 border">
                            <td class="pl-2 border">Topic</td>
                            <td class="pl-2 border">Last Updated</td>
                            <td class="pl-2 border">Replies</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for discussion in discussions %}
                            <tr class="border even:bg-slate-100">
                                </>
                                <td class="border pl-2">
                                    </>
                                    <div class="flex flex-col ">
                                        <a href="/discussion/{{ discussion.id }}">
                                            <h3 class="font-semibold text-lg hover:underline">{{ discussion.title }}</h3>
                                            {% if discussion.type == 'bookclub' %}
                                                <p class="pl-2 text-sm font-light">Book Discussion</p>
                                            {% elif discussion.type == 'general' %}
                                                <p class="pl-2 text-sm font-light">Other Discussion</p>
                                            {% endif %}
                                        </a>
                                    </div>
                                </td>
                                <td class="border pl-2">
                                    </>{{ discussion.last_update }}
                                </td>
                                <td class="border pl-2">
                                    <div class="flex items-center">
                                        <svg class="h-8 w-8 text-gray-500"
                                             fill="none"
                                             viewBox="0 0 24 24"
                                             stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z" />
                                        </svg>
                                        <p class="h-full">{{ discussion.num_posts }}</p>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="flex flex-col w-60 ">
            <h2 class="text-lg font-semibold  mb-4">Bookclub Members</h2>
            {% for member in members %}
                <div class="flex items-center mb-4">
                    <img src="https://m.media-amazon.com/images/I/81oCrA7-plL._AC_UF1000,1000_QL80_.jpg"
                         alt="book cover"
                         class="w-10 h-10 rounded-full mr-4">
                    <p class="font-medium text-gray-700">{{ member.user }}</p>
                </div>
            {% endfor %}
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/datepicker.min.js"></script>
        <script src="{% static 'js/datepicker.js' %}"></script>
    </div>
{% endblock content %}
