{% extends 'base.html' %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="bg-blue-100 h-full mx-auto w-fit flex px-24 pt-24">
        <!-- Side bar -->
        {% include 'components/sidebar.html' %}
        <!-- Book Details -->
        <div class="w-[48rem] ml-24">
            <div class="flex space-x-4 w-full border-b border-gray-500 pb-1 mb-2">
                <ul>
                    <li>
                        <a href="#"
                           class="no-underline hover:underline hover:text-teal-900 active:font-semibold active">Details</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/book/chapter-discussion"
                           class="no-underline hover:underline hover:text-teal-900">Chapter Discussions</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#" class="no-underline hover:underline hover:text-teal-900">Other Discussions</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#" class="no-underline hover:underline hover:text-teal-900">Reviews</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#" class="no-underline hover:underline hover:text-teal-900">Quotes</a>
                    </li>
                </ul>
            </div>
            {% block content %}
            {% endblock content %}
        </div>
    </div>
{% endblock content %}
