{% extends 'base.html' %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="bg-blue-100 min-w-[52rem] mx-auto w-fit flex flex-1 flex-col px-24 xl:pt-12 2xl:pt-20 pb-20">
        <div class="w-full ml-4 mb-8 flex">{% include 'forms/search_form.html' %}</div>
        <div class="ml-4">
            {% if search_query %}
                <h2 class="font-semibold text-xl mb-4 pb-2 border-b-2 border-gray-400">
                    Top 10 searches for {{ search_query |slice:":-1" }}...
                </h2>
                {% for result in search_results %}
                    <div class="flex mb-2 border-b pb-4 border-gray-300">
                        <a href="/book?book_id={{ result.book_id }}"><img src={{ result.book_cover }} alt="book cover" width="50" height="75"></a>
                        <div class="flex flex-col ml-4">
                            <a href="/book?book_id={{ result.book_id }}">
                                <h3 class="font-bold text-md hover:underline">{{ result.title | slice:":50" }}</h3>
                            </a>
                            <p>by {{ result.author }}</p>
                            <div class="flex mt-2 items-center">
                                <svg class="w-4 h-4 text-yellow-300 me-1 align-middle"
                                     aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg"
                                     fill="currentColor"
                                     viewBox="0 0 22 20">
                                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                </svg>
                                <p class="text-sm mr-2">
                                    {{ result.other_details }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h2 class="font-semibold text-xl mb-4 pb-2">Search for a book to see results</h2>
                {% endif %}
            </div>
        </div>
    {% endblock content %}
