{% extends "base.html" %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="bg-blue-100 min-w-[52rem] mx-auto w-fit flex flex-1 flex-col px-24 xl:pt-12 2xl:pt-20 pb-20">
        <h1 class="mx-auto text-3xl font-bold mb-8">Profile Page</h1>
        <div class="relative w-60 h-60 mx-auto  mb-6">
            <a class="opacity-0 hover:opacity-45 flex cursor-pointer w-60 h-60 object-cover rounded-full mx-auto mb-6 text-center bg-black items-center justify-center absolute z-30">
                <p class="font-semibold text-white">Change Photo</p>
            </a>
            <img src="https://png.pngtree.com/background/20230519/original/pngtree-girl-reading-books-in-a-picture-picture-image_2658551.jpg"
                 alt="profile picture"
                 class="w-60 h-60 object-cover rounded-full mx-auto relative z-20 cursor-pointer">
        </div>
        <h1 class="mx-auto text-xl font-semibold mb-6">{{ user.first_name|default:user.username }}</h1>
        <form class="flex flex-col space-y-2 border border-black rounded-lg p-4 mb-4"
              method="post">
            {% csrf_token %}
            <!-- Display form errors -->
            {% if form.errors %}
                <div class="alert alert-danger">
                    Missing Fields:
                    <ul>
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}<li>Error in {{ field }}: {{ error }}</li>{% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="flex justify-between align-middle items-center">
                <h1 class="font-bold text-lg">Login Information</h1>
            </div>
            <div class="max-w-96">{{ form | crispy }}</div>
            <div class="flex space-x-4 mt-4">
                <button type="submit"
                        class="bg-teal-500 text-white hover:bg-white hover:text-cyan-500 border-2 border-cyan-500 cursor-pointer font-semibold rounded-lg px-2 py-0.5">
                    Submit
                </button>
                <a href="/profile"
                   class="bg-white text-red-500 hover:bg-red-500 hover:text-white border-2 border-red-500 cursor-pointer font-semibold rounded-lg px-2 py-1">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
